<div [formGroup]="form">
  <div class="form-group row mb-0 ">
    <label [attr.for]="formBase.key" class="col-sm-4 col-form-label">{{formBase.label}}</label>
    <div class="col-sm-8" [ngSwitch]="formBase.controlType">
      <input *ngSwitchCase="'textbox'" [formControlName]="formBase.key"
             [id]="formBase.key" [type]="formBase.type" class="form-control padding-2">
      <div class="errorMessage" *ngIf="!isValid">{{formBase.label}} is required</div>
    </div>
  </div>

</div>

