<h2 mat-dialog-title>Station erledigen</h2>
<mat-dialog-content>
  <form [formGroup]="newOrder">
    <div class="form-group ">
      <label for="name">{{'NAME' | translate}}</label>
      <input type="text" id="name" class="form-control form-control-sm" placeholder="Barcode scannen"
             aria-describedby="passwordHelpInline" formControlName="name">

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="accent" class="btn-primary no-shadow"
          (click)="close()">Close
  </button>
  <button mat-raised-button color="accent" class="btn-primary no-shadow"
          (click)="save()">Save
  </button>
</mat-dialog-actions>
