<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']" >
        <a class="nav-link" routerLink="orders" >{{'VERGUSS' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="orders/2">{{'ORDERS' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="manualScan">{{'MANUALSCAN' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" >
        <a class="nav-link" routerLink="motors" >{{'motors' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" >
        <a class="nav-link" routerLink="recipes" >{{'recipes' | translate}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 ">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
