<div class="row">
  <div class="col">
    <div class="card mt-3"  style="min-height: 393px;">
      <div class="card-header"><h5 class="card-title green">Start Position</h5></div>
      <div class="card-body">
        <!--y-axe-->
        <div class="row ">
          <div class="col-md-4">
            <div class="row mt-5">
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnDoubleLeftY')">
                  <i class="fa fa-angle-double-left fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnLeftY')">
                  <i class="fa fa-angle-left fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img src="assets/grouting/y-axe.png" class="img-fluid mt-3">
            </div>
          </div>
          <div class="col-md-4">
            <div class="row mt-5">

              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnRightY')">
                  <i class="fa fa-angle-right fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnDoubleRightY')">
                  <i class="fa fa-angle-double-right fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!--z-axe-->
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="row mt-5">
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnDoubleUpZ')">
                  <i class="fa fa-angle-double-up fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnUpZ')">
                  <i class="fa fa-angle-up fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img src="assets/grouting/z-axe.png" class="img-fluid mt-3">
            </div>
          </div>
          <div class="col-md-4">
            <div class="row mt-5">

              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnDownZ')">
                  <i class="fa fa-angle-down fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnDoubleDownZ')">
                  <i class="fa fa-angle-double-down fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!--x-axe-->
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="row mt-4">
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnDoubleLeftX')">
                  <i class="fa fa-angle-double-left fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnLeftX')">
                  <i class="fa fa-angle-left fa-2x white-icon" aria-hidden="true"></i></button>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img src="assets/grouting/x-axe.png" class="img-fluid mt-3">
            </div>
          </div>
          <div class="col-md-4">
            <div class="row mt-4">

              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary no-shadow "
                        (click)="clickControlButton('btnRightX')">
                  <i class="fa fa-angle-right fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-6">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow "
                        (click)="clickControlButton('btnDoubleRightX')">
                  <i class="fa fa-angle-double-right fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mt-3" style="min-height: 393px;">
      <div class="card-header"><h5 class="card-title green">Profil {{selectedRecipeName}} - {{selectedRecipeGrouting}}</h5></div>
      <div class="card-body">
        <form [formGroup]="profileOpelForm">
          <div class="row">
            <div class="col-md-8 col-sm-8">

              <div class="text-center mt-5">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="profile-img">
                      <mat-slider
                        class="example-margin"
                        [disabled]="false"
                        [invert]="false"
                        [max]="height"
                        [min]="0"
                        [step]="true"
                        [thumbLabel]="true"
                        [tickInterval]="true"
                        [vertical]="true" style="min-height: 133px !important;" formControlName="fillheight">
                      </mat-slider>
                    </div>
                    <div class="bottom-outer">
                      <div class="bottom-inner-box">
                        <div class="bottom-inner">
                          <span>{{innerwidth}}</span>
                        </div>
                      </div>
                      <div class="bottom-inner">
                        <span>{{outerwidth}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="right-box">
                      <div class="right-boc-inner">
                        <span class="mt-lg-5" style="display: block;">{{height}}</span>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-4 col-sm-4">

              <div class="form-group ">
                <select  id="name" class="form-control mx-sm-3 custom-select" formControlName="recipeGrouting">
                  <option *ngFor='let recipeGrouting of recipeGroutingList' [ngValue]="recipeGrouting.key">{{recipeGrouting.key}}</option>
                </select>
              </div>
              <div class="form-group ">
                <button mat-raised-button color="accent"
                        class="btn-primary  no-shadow form-control form-control-sm" (click)="openRecipeList()">
                  <i class="fa fa-folder-open-o fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="form-group ">
                <button mat-raised-button color="accent"
                        class="btn-primary  no-shadow form-control form-control-sm" (click)="saveClick()">
                  <i class="fa fa-floppy-o fa-2x white-icon" aria-hidden="true"></i></button>
              </div>
              <div class="form-group ">
                <button mat-raised-button color="accent"
                        class="btn-primary  no-shadow form-control form-control-sm" (click)="deleteClick()">
                  <i class="fa fa-trash-o fa-2x white-icon" aria-hidden="true"></i></button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col">
    <div class="card mt-3" style="min-height: 200px;">
      <div class="card-header"><h5 class="card-title green">Profil wählen</h5></div>
      <div class="card-body">
        <div class="row ">
          <div class="col-md-4 ">
            <div class="row mt-5">
              <div class="col-md-6 "></div>
              <div class="col-md-6 ">
                <button mat-raised-button color="accent" class="btn-primary no-shadow"><i
                  class="fa fa-2x fa-arrow-left white-icon" (click)="clickControlButton('btnLeft')"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <img src="assets/grouting/sweep.png" class="img-fluid mt-3">
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="row mt-5">

              <div class="col-md-6 ">
                <button mat-raised-button color="accent" class="btn-primary  no-shadow"><i
                  class="fa fa-2x fa-arrow-right white-icon" (click)="clickControlButton('btnRight')"></i></button>
              </div>
              <div class="col-md-6 "></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mt-3" style="min-height: 200px;">
      <div class="card-header"><h5 class="card-title green">Vergiessen</h5></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="text-center">
              <img src="assets/grouting/length.png" class="img-fluid mt-3">
              <div>{{selectedOrder.Z_Profill_nge_L1_mm}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <button mat-raised-button color="accent"
                      class="btn-primary mx-sm-3 no-shadow form-control form-control-sm"><i
                class="fa fa-2x fa-play white-icon"></i></button>

            </div>
            <div class="form-group ">
              <button mat-raised-button color="warn"
                      class="btn-warning mx-sm-3 no-shadow form-control form-control-sm"><i
                class="fa fa-2x fa-pause white-icon"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
