<h3 *ngIf="isOpenOrder">Offene Aufträge</h3>
<form  [formGroup]="orderForm" *ngIf="!isOpenOrder" class="form-inline row mt-3">

  <div class="col">
    <div class="form-group " >
      <label for="orderNumber">{{'ORDERNUMBER' | translate}}</label>
      <input type="text" id="orderNumber" class="form-control mx-sm-3"
             aria-describedby="passwordHelpInline" (keydown)="pressEnter($event)"  formControlName="orderNumber" >
      <small id="passwordHelpInline" class="text-muted">
        <button mat-mini-fab color="accent" class="btn-primary mx-sm-3 no-shadow"><i class="fa fa-times-circle fa-2x" style="margin-top: -2px;"></i></button>
      </small>
    </div>
  </div>
  <div class="form-group float-right">
    <label for="name">{{'name' | translate}}</label>

    <select  id="name" class="form-control mx-sm-3 custom-select" formControlName="user">
      <option>--</option>
      <option *ngFor='let user of userList' [ngValue]="user">{{user.name}}</option>
    </select>
    <small  class="text-muted">
      <button mat-raised-button color="accent" class="btn-primary mx-sm-3 no-shadow" (click)="stopOrder()">{{'ORDERSSTOP'| translate}} </button>
    </small>
  </div>

</form>
<div *ngIf="!isOpenOrder" id="graphic" style="height: auto; overflow: visible; margin-top: 20px !important">
  <app-grouting [selectedItem]="selectedOrder"></app-grouting>
</div>
<div class="mat-elevation-z8 mt-3">
<app-order-grid [mode]="orderListMode" [inputDataSource]="externalDataSource" ></app-order-grid>
</div>
