<!--<form class="row mt-3" [formGroup]="recipeForm">-->
  <!--<div class="col-md-6">-->

    <!--<div class="form-group">-->
      <!--<label><h3>Rezept Profil</h3></label>-->
      <!--<textarea class="form-control" rows="3" formControlName="recipePro"></textarea>-->
    <!--</div>-->
    <!--<div class="form-group  ">-->

      <!--<button mat-raised-button color="accent" class="btn-primary  "-->
              <!--(click)="updateRecipe(1)">{{'save'| translate}}-->
      <!--</button>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6">-->
    <!--<div class="form-group">-->
      <!--<label><h3>Rezept Vergussmasse</h3></label>-->
      <!--<textarea class="form-control" rows="3" formControlName="recipeVr"></textarea>-->
    <!--</div>-->
    <!--<div class="form-group  ">-->

      <!--<button mat-raised-button color="accent" class="btn-primary  " (click)="updateRecipe(2)"-->
              <!--[disabled]="disableButton">{{'save'| translate}}-->
      <!--</button>-->

    <!--</div>-->
  <!--</div>-->
<!--</form>-->

<div class="row">
  <div class="col-md-6">
    <app-dynamic-form [formGroups]="formFields" [endPoint]="updateEndPoint"></app-dynamic-form>
  </div>
  <div class="col-md-6">
    <app-dynamic-form  [formGroups]="formFieldsRecipeVR" [endPoint]="updateVrEndPoint"></app-dynamic-form>
  </div>
</div>





