<main-nav>
</main-nav>
<div class="dark-overlay" *ngIf="showSpinner">
  <mat-progress-spinner style="margin:25% auto;"
                        [color]="color"
                        [mode]="mode"
                        [value]="value">
  </mat-progress-spinner>
</div>

<!--<div class="cache-load-container" *ngIf="cacheInitilizedPercentage<100">-->
  <!--<span class="cache-loader">-->
    <!--<svg class="progress" width="120" height="120" viewBox="0 0 120 120">-->
      <!--<circle class="bg-stroke" stroke-dasharray="339.292" stroke-dashoffset="0" cx="60" cy="60" r="54" fill="none" stroke="#e6e6e6"-->
              <!--stroke-width="12" />-->
      <!--<circle class="fg-stroke" stroke-dasharray="339.292" [attr.stroke-dashoffset]="cacheInitilizedCircleDispalyDashOffset" cx="60"-->
              <!--cy="60" r="54" fill="none" stroke="#f77a52" stroke-width="12" />-->
    <!--</svg>-->
    <!--<span class="cache-percentage">{{cacheInitilizedPercentage}}%</span>-->
  <!--</span>-->
<!--</div>-->
