<div class="row mt-3">
  <div class="col-md-4">
    <form [formGroup]="mortorForm">
      <div class="form-group row ">
        <label for="ports" class="col-sm-6 col-form-label col-form-label-sm">{{'allports' | translate}}</label>
        <div class="col-sm-6">
          <select id="ports" class="form-control mx-sm-3 custom-select" formControlName="selectPort" (change)="changePort()">
            <option *ngFor="let port of portList" [ngValue]="port"> {{ port.manufacturer }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row ">
        <label for="action" class="col-sm-6 col-form-label col-form-label-sm">{{'actions' | translate}}</label>
        <div class="col-sm-6">
          <select id="action" class="form-control mx-sm-3 custom-select" formControlName="selectAction">
            <option *ngFor="let action of actionList" [ngValue]="action"> {{ action.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-sm-6 col-form-label col-form-label-sm"></label>
        <div class="col-sm-6">
          <button mat-raised-button color="accent" class="btn-primary mx-sm-3 " (click)="clickSend()"
                  [disabled]="disableButton">{{'send'| translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2 " >
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 ">
        <button mat-raised-button
                color="accent" class="btn-primary mx-sm-3 arrow-btn "
                (click)="clickControlButton('btnTop')" [disabled]="disableButton"><i class="fa fa-arrow-up fa-3x  " aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <button mat-raised-button color="accent"
                class="btn-primary mx-sm-3 arrow-btn"
                (click)="clickControlButton('btnLeft')" [disabled]="disableButton"><i class="fa fa-arrow-left fa-3x  " aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="accent"
                class="btn-primary mx-sm-3 arrow-btn "
                (click)="clickControlButton('btnMiddle')" [disabled]="disableButton"><i class="fa fa-pause fa-3x  " aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="accent"
                class="btn-primary mx-sm-3 arrow-btn "
                (click)="clickControlButton('btnLeft')" [disabled]="disableButton"><i class="fa fa-arrow-right fa-3x " aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="row mt-3 ">
      <div class="col-md-4"></div>
      <div class="col-md-4 ">
        <button mat-raised-button color="accent" class="btn-primary mx-sm-3  arrow-btn"
                (click)="clickControlButton('btnBottom')" [disabled]="disableButton"><i class="fa fa-arrow-down fa-3x  " aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="col-md-6 float-right">
    <mat-card *ngIf="motorStatus">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><i class="fa fa-signal"></i></div>
        <mat-card-title>Motor Status</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <!--<mat-list-item><p matLine class="row"><span class="col-2">{{'address' | translate}}</span> <span class="col-2"> {{ motorStatus['address']}}</span></p></mat-list-item>-->
          <!--<mat-divider></mat-divider>-->
          <mat-list-item><p matLine class="row"><span class="col-2">{{'status' | translate}}</span> <span class="col-2"> {{ motorStatus['status']}}</span>
          </p></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><p matLine class="row"><span class="col-2">{{'value' | translate}}</span> <span class="col-2"> {{ motorStatus['value']}}</span>
          </p></mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mt-3" *ngIf="disableButton">
  <div class="col-md-12">
    <div class="alert alert-danger " role="alert">
      <h3><i class="fa fa-times-circle fa-1x" aria-hidden="true"></i> Service is not running! </h3>
    </div>

  </div>
</div>
<mat-divider class="mt-3"></mat-divider>
<app-ios></app-ios>

<!--<form >-->


<!--<mat-form-field class="col-md-4">-->
<!--<mat-select placeholder="{{'allports' | translate}}" [formControl]="selectPort" >-->
<!--<mat-option *ngFor="let port of portList" [value]="port">-->
<!--{{ port.manufacturer }}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<!--<mat-form-field class="col-md-4">-->
<!--<mat-select placeholder="{{'actions' | translate}}" [formControl]="selectAction">-->
<!--<mat-option *ngFor="let action of actionList" [value]="action">-->
<!--{{ action.name }}-->
<!--</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<!--<button mat-raised-button color="accent" class="btn-primary" (click)="clickSend()">{{'send'| translate}} </button>-->
<!--</form>-->
<!--<mat-card class="col-md-4" *ngIf="motorStatus">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"><i class="fas fa-signal"></i></div>-->
<!--<mat-card-title>Motor Status</mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<mat-list>-->
<!--&lt;!&ndash;<mat-list-item><p matLine class="row"><span class="col-2">{{'address' | translate}}</span> <span class="col-2"> {{ motorStatus['address']}}</span></p></mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--<mat-list-item><p matLine class="row"><span class="col-2">{{'status' | translate}}</span> <span class="col-2"> {{ motorStatus['status']}}</span></p></mat-list-item>-->
<!--<mat-divider></mat-divider>-->
<!--<mat-list-item><p matLine class="row"><span class="col-2">{{'value' | translate}}</span> <span class="col-2"> {{ motorStatus['value']}}</span></p></mat-list-item>-->
<!--</mat-list>-->

<!--</mat-card-content>-->
<!--</mat-card>-->
