<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" class="{{tableClass}}">

    <ng-container *ngFor="let col of columnDataMap" matColumnDef="{{col.key}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.key | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="col.showIcon"><i class="{{setIcons(row)}} fa-2x"></i></span>
        <span *ngIf="!col.showIcon">{{row[col.mappingColumn]}}</span>
        <span *ngIf="col.showButton"><button
          type="button" class="btn btn-success" [disabled]="isDisabled(row)"
          (click)="actionClick(row,col)">{{setButtonText(row,col)}}{{ col.buttonText | translate}}</button></span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
             [style.background]="setColors(row)" (click)="handleHeaderRowClick(row,i)" class="{{row.rowColor}}"
             [ngClass]="{'selected':selectedRowIndex==i}"
    ></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator-->
  <!--[length]="dataSource.data.length"-->
  <!--[pageIndex]="0"-->
  <!--[pageSize]="20"-->
  <!--[pageSizeOptions]="[25, 50, 100, 250]">-->
  <!--</mat-paginator>-->
</div>
