<div class="row mt-3">
  <div class="col-md-4">
    <form [formGroup]="orderForm">
      <div class="form-group ">
        <h4><label for="orderNumber">{{'ORDERNUMBER' | translate}}</label></h4>
        <input type="text" id="orderNumber" class="form-control form-control-lg" placeholder="Beispiel: 211777"
               aria-describedby="passwordHelpInline" (keydown)="pressEnterOnOrderNumber($event)" formControlName="orderNumber">
      </div>
      <div class="form-group ">
        <h4> <label for="name">{{'NAME' | translate}}</label></h4>
        <input type="text" id="name" class="form-control form-control-lg" placeholder="Barcode scannen" (change)="changeName()"
               aria-describedby="passwordHelpInline" (keydown)="pressEnterOnName($event,false)" formControlName="name">
      </div>
      <div class="form-group">
        <button
                class="btn-primary no-shadow btn btn-lg btn-block  ">
           <h4><i class="fa fa-1x fa-times-circle"></i>QM</h4>
        </button>
      </div>
      <div class="form-group">
        <button
                class="btn-primary no-shadow btn btn-lg btn-block " [disabled]="disableButtone"
                (click)="clickChangeStatus(false)">
          <h4>{{'CHANGESTATE' | translate}}</h4>
        </button>
      </div>
      <div class="form-group">
        <button  [disabled]="disableButtone"
                (click)="clickStationFinished()" class="btn-primary no-shadow btn btn-lg btn-block ">
          <h4>{{'STATIONFINISHED' | translate}}</h4>
        </button>
      </div>
      <div class="form-group ">
        <div class="text-center">
        <i class="{{orderStatusIcon}} fa-xxl"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8 float-right">

    <div [hidden]="externalDataSource.length == 0" style="max-height: 50%;">
      <h3>{{'ORDERHISTORY' | translate}}</h3>
      <verguss-data-table [columnList]="columnList" [inputDataSource]="externalDataSource"
                          [isPaginationEnabled]="false" [classes]="'table-scroll'"></verguss-data-table>
    </div>
    <div [hidden]="externalDataSourceByUser.length == 0">
      <h3>{{'OPENORDERSBY' | translate}} {{selectedName}}</h3>
      <verguss-data-table [columnList]="columnListNameOrders" [classes]="'table-scroll'" [inputDataSource]="externalDataSourceByUser"
                          [isPaginationEnabled]="false"></verguss-data-table>
    </div>

  </div>
</div>
