/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ngx-toastr/toastr.css";
@import "assets/font-awesome-4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
}

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #93C11C;
}

.selected {
  background-color: #ADD8E6;
}

.mat-row:hover {
  background-color: #90D597;
  cursor: pointer;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #FFF;
  z-index: 99;
}

.event-row {
  background-color: #050B08;
}

.manual-color {
  background-color: red;
}

.arrow-btn {
  min-width: 50px !important;
  line-height: 36px;
  padding: 0 5px !important;
}

.mat-cell{
  overflow: hidden !important;;
  width: 100px;
}
.btn-primary{
  background-color: #93C11C !important;
}
.btn-primary:disabled{
  background-color: #6c757d !important;
}
/*.mat-table {*/
/*overflow: auto;*/
/*max-height: 500px;*/
/*}*/
.table-scroll {
  overflow: auto;
}

.table-height-520 {
  max-height: 520px;
}

.table-height-800 {
  max-height: 800px;
}

.mat-column-name {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center
}

.mat-column-position {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;

}

.mat-column-weight {
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;

}

.mat-column-symbol {

  text-align: center;
  align-self: stretch;
}

.mat-column-weight {
  align-self: stretch;
}

.done-color, .pass {
  background-color: #93C11C;
}

.link {
  cursor: pointer;
}

.done-icon-color {
  color: #3fc150;
}

.green {
  color: #93C11C
}

/*.btn-success{*/

/*}*/
.stop-icon-color {
  color: #c10d0c;
}

.inprogress-icon-color {
  color: #ff751a;
}

.icon-border {
  border: 3px solid #000000;
  padding: 3px;
  border-radius: 5px;
}

.block-background {
  background-color: rgba(0, 0, 0, .5);
}

.mat-header-cell {
  /*color: rgba(0, 0, 0, 0.87);*/
  /*border-right: 1px solid;*/
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-table {
  border: 1px solid #ddd;
}

.mat-header-cell:last-child {
  border-right: 0;
}

mat-footer-row, mat-header-row, mat-row {
  border: 1px solid #ddd;
}

.cdk-focused {
  outline: none !important;
  border: 0 !important;;
}

.no-shadow {
  box-shadow: none !important;
  border: 1px double #dee2e6;
}

.toast-top-full-width {
  margin-top: 50px;
}

.cache-load-container {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.cache-load-container .cache-loader {
  position: relative;
}

.cache-load-container .cache-loader .cache-percentage {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 43%;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}

.light .cache-load-container .fg-stroke {
  stroke: #ffa530;
}

.fa-xxl {
  font-size: 10em;
}

.mat-cell {
  display: flex !important;
  justify-content: center !important;

}

.mat-header-cell {
  display: flex;
  justify-content: center;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  overflow: inherit;
}

textarea {
  padding-top: 10px;
  padding-bottom: 25px;
  width: 100%;
  display: block;
  height: 500px;
  min-height: 500px;
}

.padding-2 {
  padding: 2px 5px 2px 5px;
}

.profile-img {
  border-left: 25px solid #9d9e9e;
  border-bottom: 25px solid #9d9e9e;
  border-right: 25px solid #9d9e9e;
  height: 150px;
  width: 180px;
  margin: 0 auto;
}

.borders {
  width: 1px;
  height: 100px;
  border-left: 1px solid;
}

.box-180 {
  height: 80px;
  width: 180px;
  margin: -49px auto;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

.box-133 {
  height: 50px;
  width: 130px;
  margin: -25px auto;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  /*border-bottom: 2px solid #000000;*/
}

.box-height-150 {
  height: 150px;
  width: 1px;
  border: 1px solid #000000;
}

.box-180-inside {
  width: 171px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid;
}

.box-133-inside {
  width: 120px;
  height: 0px;
  margin: 0 auto;
  border-bottom: 2px solid;
}

.box-133-right {
  float: right;
  margin: 0px 24px;
  height: 126px;
  width: 100px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.box-133-inside-right {
  float: right;
  margin: 3px 0;
  height: 115px;
  width: 124px;
  border-top: 0;
  border-bottom: 0;
  border-right: 2px solid;
}

.box-60-right {
  width: 60px;
  height: 72px;
  margin-top: 50px;
  border-bottom: 0px;
  border-top: 2px solid;
}

.box-60-inside-right {
  width: 60px;
  height: 65px;
  border-right: 2px solid;
  margin-top: 2px;
}

.main-box {
  width: 100%;
  background: #93c11b;
  height: 72px;
  margin-top: 0px
}

.main-box-top {
  height: 53px;
}

.box-133-inside-input {
  width: 50px;
  height: 21px;
  margin-top: 30px;
  margin-left: 15px;
}

.box-180-inside-input {
  width: 50px;
  height: 21px;
  margin-top: 4px;
  margin-left: 0px;
}

.bottom-low-range-input {
  margin-top: 140px;
  margin-left: 110px;
  position: absolute;
}

.bottom-high-range-input {
  position: absolute;
  margin-top: 169px;
  margin-left: 110px;
}

.right-low-range-input {
  margin-top: 15%;
  position: absolute;
  margin-left: 55%;
}

.right-high-range-input {
  margin-top: 46px;
  position: absolute;
  margin-left: 275px;
}

.mat-slider-thumb-label {
  transform: rotate(90deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-horizontal .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

/*.mat-slider-thumb {*/
/*transform: scale(0) !important;*/
/*}*/

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-slider-vertical .mat-slider-thumb-label-text {
  transform: rotate(270deg) !important;
}

.mat-slider-horizontal {
  min-width: 180px !important;
}

.mat-slider-vertical {
  min-height: 150px !important;
}

.bottom-outer {
  border-left: 2px solid;
  height: 65px;
  width: 180px;
  border-right: 2px solid;
  margin: 0 auto;
}

.bottom-inner {
  border-bottom: 2px solid;
  /*padding-top: 15px;*/
  width: 98%;
  margin: 0 auto;
}

.bottom-inner-box {
  width: 135px;
  margin: 0 auto;
  border-left: 2px solid;
  border-right: 2px solid;
  height: 35px
}

.right-boc-inner {
  height: 142px;
  border-left: 2px solid;
  /* margin-right: 35px; */
  margin-left: 20px;
  margin-top: 2px;
  width: 50px;
  padding-top: 50%;
}

.right-box {
  float: left;
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 30px;
  margin-left: -25px;
  height: 150px;
}

.mat-slider-vertical .mat-slider-track-fill {
  width: 130px !important;
}

.mat-slider-track-wrapper {
  overflow: inherit !important;
}

.mat-slider-vertical {
  float: left;
  margin-left: -23px !important;
}

.mat-slider-vertical .mat-slider-thumb-label {
  bottom: 2px !important;
  left: 8px !important;
}

.mat-slider-vertical .mat-slider-track-background {
  width: 0px !important;
}

.mat-slider-track-fill {
  background: #93c11b !important;
}

.white-icon {
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .right-box {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .right-box {
    margin-left: 55px;
  }
}

.dark-overlay {
  background-color: rgba(243, 242, 242, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 805px;
  z-index: 9999;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #93c11b !important;
}
