<mat-dialog-content>
  <mat-list>
    <a mat-list-item *ngFor="let recipe of recipes" (click)="clickOnRecipe(recipe)" class="link">
      <h4 mat-line>{{recipe}}</h4>
      <mat-divider></mat-divider>
    </a>

  </mat-list>
<!--tet {{recipes}}-->
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="accent" class="btn-primary no-shadow"
          (click)="close()">Close
  </button>
</mat-dialog-actions>
