<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="card mt-3" *ngFor="let frmg of formGroups">
    <div class="card-header"><span class="card-title">{{frmg.groupLable}}</span></div>
    <div class="card-body">
      <div *ngFor="let frm of frmg.formFields">
        <app-verguess-dynamic-form [formBase]="frm" [form]="form"></app-verguess-dynamic-form>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button mat-raised-button color="accent" class="btn-primary  "
            [disabled]="!form.valid">Save
    </button>
  </div>
</form>
<!--<form (ngSubmit)="onSubmit()" [formGroup]="form">-->
<!--<mat-card *ngFor="let frmg of formGroups" >-->
<!--<mat-card-header>-->
<!--<mat-card-title>{{frmg.groupLable}}</mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-divider></mat-divider>-->
<!--<mat-card-content>-->
<!--<div *ngFor="let frm of frmg.formFields" class="form-row">-->
<!--<app-verguess-dynamic-form [formBase]="frm" [form]="form"></app-verguess-dynamic-form>-->
<!--</div>-->
<!--</mat-card-content>-->

<!--</mat-card>-->
<!--<div class="form-group  mt-3">-->

<!--<button mat-raised-button color="accent" class="btn-primary  "-->
<!--[disabled]="!form.valid" >Save-->
<!--</button>-->

<!--</div>-->
<!--&lt;!&ndash;<div class="form-row">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="submit" [disabled]="!form.valid">Save</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div *ngIf="payLoad" class="form-row mt-3">-->
<!--<strong>Saved the following values</strong><br>{{payLoad}}-->
<!--</div>-->
<!--</form>-->

<!--<div>-->
<!--<form (ngSubmit)="onSubmit()" [formGroup]="form">-->

<!--<div *ngFor="let frmg of formGroups">-->
<!--{{frmg.groupLable}}-->
<!--<div *ngFor="let frm of frmg.formFields" class="form-row">-->
<!--<app-verguess-dynamic-form [formBase]="frm" [form]="form"></app-verguess-dynamic-form>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row">-->
<!--<button type="submit" [disabled]="!form.valid">Save</button>-->
<!--</div>-->
<!--</form>-->

<!--<div *ngIf="payLoad" class="form-row">-->
<!--<strong>Saved the following values</strong><br>{{payLoad}}-->
<!--</div>-->
<!--</div>-->
